@model DoWhat.Models.ThingModels.ThingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Thing Detail</h2>

<div>
    @*<h4>Thing Detail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.ThingId)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.ThingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catagory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        @*<p>
            How do I display all the resources that belong to this thing? In a list or array
        </p>*@

    </dl>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resource)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResourceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ResourceId })
            </td>
        </tr>
    }

</table>*@

<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThingId }) |
    @Html.ActionLink("Add Resource", "Create", "Resource")
</p>
<p>
    @Html.ActionLink("DELETE", "Delete", new { id = Model.ThingId })
</p>
