@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Do What ( _____ )</h1>
    <p class="lead">Helping you to overcome descision fatique by doing what needs to be done with the time you have. </p>
    <p> @Html.ActionLink("Find a Thing to do", "SelectThing", "Thing", null, new { @class = "btn btn-primary btn-large" }) </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Things to do</h2>
        <p>
            We all have Things that we want (or need) to do. View your list of Things or add Things to your list.
        </p>
        <p>@Html.ActionLink("List of Things", "Index", "Thing", null, new { @class = "btn btn-default btn-large" })  |  
        @Html.ActionLink("Make a Thing", "Create", "Thing", null, new { @class = "btn btn-default btn-large" })</p>
        
    </div>
    <div class="col-md-4">
        <h2>Categorize Things</h2>
        <p>Put your Things in order. Make categories for different areas in your life to seperate the things that need doing.</p>
        <p>@Html.ActionLink("Category List", "Index", "Catagory", null, new { @class = "btn btn-default btn-large" })  |  
        @Html.ActionLink("New Category", "Create", "Catagory", null, new { @class = "btn btn-default btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Stuff about Things</h2>
        <p>Add resources like additional notes, shopping lists or weblinks to the Things you want or need to do.</p>
        <p>@Html.ActionLink("Resource List", "Index", "Resource", null, new { @class = "btn btn-default btn-large" })  |  
        @Html.ActionLink("Add Resource", "Create", "Resource", null, new { @class = "btn btn-default btn-large" })</p>
    </div>
</div>